{% extends 'angularjsBundle::admin.html.twig' %}

{% block navigation %}
    {{ parent() }}
    <li><a href="{{ path('image') }}">Images</a></li>
{% endblock %}

{% block content %}
    <h1>ProductImage list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Img</th>
                <th>Id</th>
                <th>Name</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><img src="{{ entity.getWebPath() }}" /></td>
                <td><a href="{{ path('image_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.path }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('image_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('image_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
