<!DOCTYPE html>
<html{% if ngHtmlApp is defined %} ng-app="{{ ngHtmlApp }}"{% endif %}>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-theme.css') }}" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body{% if ngBodyCtrl is defined %} ng-controller="{{ ngBodyCtrl }}"{% endif %}>
    {% block body %}{% endblock %}
    {% block javascripts %}
    <!-- jQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <!-- Bootstrap JavaScript -->
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <!-- AngularJS -->
    <script type="text/javascript" src="{{ asset('js/angular.js') }}"></script>
    {% endblock %}
  </body>
</html>
