{% extends 'angularjsBundle::base.html.twig' %}

{# Configuration of AngularJS attributes in parent template #}
{% set ngHtmlApp = 'gemStore' %}
{% set ngBodyCtrl = 'StoreController as store' %}

{% block charset %}
<meta charset="UTF-8" />
{% endblock %}

{% block title %}
<title>Tienda de piedras</title>
{% endblock %}

{% block stylesheets %}{{ parent() }}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/angularjs/css/bootstrap-min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/angularjs/css/bootstrap-custom-theme.css') }}" />
  <link rel="icon" type="image/x-icon" href="{{ asset('/bundles/angularjs/images/favicon.ico') }}" />
{% endblock %}

{% block javascripts %}{{ parent() }}
  <!-- App JavaScript -->
  <script type="text/javascript" src="{{ asset('/bundles/angularjs/js/products.js') }}">
  </script>
  <script type="text/javascript" src="{{ asset('/bundles/angularjs/js/app.js') }}">
  </script>
{% endblock %}

{% block body %}
  <!-- Buy modal -->
  <aside class="modal fade" id="buyModal">
    <div class="modal-dialog modal-content">
      <header class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <h4 class="modal-title">
          Compra realizada
        </h4>
      </header>
      <div class="modal-body">
        Gracias por su compra, pronto recibirá su pedido en la dirección indicada.
      </div>
    </div>
  </aside>
  <!--  Encabezado de web  -->
  <header>
    <h1 class="text-center">Piedras preciosas hechas a mano</h1>
    <h2 class="text-center">– Una tienda de AngularJS –</h2>
  </header>
  <!--  Contenedor de productos  -->
  <div class="list-group">
    <!--  Contendor de producto  -->
    <div class="list-group-item" ng-repeat="product in store.products">
      {% raw %}<h3>{{product.name}}
        <em class="pull-right">{{product.price | currency:""}} &euro; </em>
      </h3>{% endraw %}
      <!-- Galería de imágenes -->
      <product-gallery></product-gallery>

      <!-- Fichas de producto  -->
      <product-tabs></product-tabs>
    </div>
  </div>
{% endblock %}
