{% extends 'angularjsBundle::base.html.twig' %}

{# Configuration of AngularJS attributes in parent template #}
{% set ngHtmlApp = 'gemStore' %}
{% set ngBodyController = 'StoreController as store' %}

{% block title %}Piedras preciosas hechas a mano{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/bundles/angularjs/css/bootstrap-custom-theme.css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- App JavaScript -->
    <script type="text/javascript" src="/bundles/angularjs/js/products.js"></script>
    <script type="text/javascript" src="/bundles/angularjs/js/app.js"></script>
{% endblock %}

{% block body %}
    <!--  Encabezado de web  -->
    <header>
        <h1 class="text-center">{{ block('title') }}</h1>
        <h2 class="text-center">– Una tienda de AngularJS –</h2>
    </header>
    <!--  Contenedor de productos  -->
    <div class="list-group">
        <!--  Contendor de producto  -->
        <div class="list-group-item" ng-repeat="product in store.products">
            {% raw %}<h3>{{product.name}}
                <em class="pull-right">{{product.price | currency:""}} &euro; </em>
            </h3>{% endraw %}

            <!-- Galería de imágenes -->
            <product-gallery></product-gallery>

            <!-- Fichas de producto  -->
            <product-tabs></product-tabs>
        </div>
    </div>
{% endblock %}
